<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Comment</title>
</head>
<body>
<h1>Inter-Network Communication</h1>


<!-- Success message -->
<!--<p th:if="${successMessage}" th:text="${successMessage}" style="color:green;"></p>-->

<!-- List of all comments -->
<h2>Communication</h2>
<ul>
    <li th:each="comment : ${comments}" th:text="${comment}"></li>
</ul>


<!--```html-->
<form action="/api/v1/app/comment" method="post" style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); text-align: center;">
    <!--    <label for="username">Your Name:</label>-->
    <input type="text" id="message" name="message" placeholder="Enter your message"
           required style="border:none; border-bottom:1px solid #000; outline:none;">
    <input type="text" id="username" name="username" placeholder="Enter your name"
           required style="border:none; border-bottom:1px solid #000; outline:none;">
    <button type="submit" style="display:inline;">&gt;</button>
</form>

</body>
</html>
